$width: 100vw;
$fontSize: 30px;
$borderRadius: 20px;
$mainColor: #023047;
$secondaryColor: #ffb703;
$borders: #ffffff;
$marginTop: 50px;
$shadowColor: #219ebc;

* {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}


body {
  // border: 10px solid red;
  background-color: $mainColor;
  margin: auto;
  min-width: 400px;
  // max-width: 800px;
  // width: 100vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#HomePage {
  margin-top: $marginTop;
  // border: 10px solid green;
  min-width: 540px;
  max-width: 1000px;
  // width: 800px;
  width: 100vw;
  // min-height: 1000px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#searchaddbar {
  // border: 1px solid rgb(0, 0, 0);
  width: $width;
  min-width: 600px;
  max-width: 800px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  border-radius: $borderRadius;
}

#searchbar {
  width: $width;
  height: 100px;
  // max-height: 50px;
  min-width: 600px;
  max-width: 800px;
  // text-indent: 15px;
  font-size: $fontSize*1.5;
  border-radius: $borderRadius;
  text-align: center;
  margin-top: $marginTop;
  margin-bottom: $marginTop;
  border: 8px solid $borders;
  box-shadow: 1px 10px 0px 0px $shadowColor;
}

#searchbar:focus {
  outline: none;
}

#recordcontainer {
  // border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: $width;
  height: 85vh;
  min-width: 400px;
  // margin-top: $marginTop;
}

.eachRecord {
  width: 100vw;
  height: 400px;
  max-height: 400px;
  min-height: 200px;
  min-width: 800px;
  max-width: 800px;
  border: 8px solid $borders;
  background-color: $secondaryColor;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: $borderRadius;
  margin-top: $marginTop;
  box-shadow: 1px 10px 0px 0px $shadowColor;
}

.recordInfo {
  // border: 10px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 81%;
}

.eachRecordHeader {
  width: 30%;
  min-height: 100%;
  min-width: 20%;
  // min-width: 200px;
  max-width: 200px;
  height: 10px;
  // border: 2px solid salmon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $fontSize;
  // border: 5px solid brown;
}

#website {
  // border: 1px solid rgb(21, 99, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#website div{
  // border: 1px solid salmon;
}

#password {
  // margin-left: 5px;
  width: 90%;
  border: none;
  font-size: $fontSize;
  text-align: center;
  background-color: $secondaryColor;
}

#toggle {
  border: none;
  border-radius: 5px;
  background-color: $secondaryColor;
  font-size: $fontSize;
}

#delete-record {
  height: 3vh;
  width: 3vh;
  border: none;
  background-color: $secondaryColor;
  color: #023047;

}

#navbar {
  // border: 1px solid green;
  height: 10vh;
  background-color: #023047;
  width: 100vw;
  max-width: 1000px;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#recordbox {
  color: white;
  font-size: 50px;
}

#show-settings-button {
  height: 6vh;
  width: 6vh;
  border: 8px solid $borders;
  box-shadow: 1px 10px 0px 0px $shadowColor;
  border-radius: $borderRadius;
  background-color: $secondaryColor;
  // font-size: 100px;
  // transform: rotate(-90deg);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  
}

#add-record-button {
  height: 6vh;
  width: 12vh;
  border: 8px solid $borders;
  box-shadow: 1px 10px 0px 0px $shadowColor;
  border-radius: $borderRadius;
  background-color: $secondaryColor;
  // font-size: 60px;
}

.material-symbols-outlined {
  font-size: 60px;
}

.modals {
  background-color: $mainColor;
  border: 16px solid #ffffff;
  // box-shadow: 0px 0px 0px 10px $shadowColor;
  border-radius: $borderRadius;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;

}

.modal-content {
  background-color: $secondaryColor;
  border-radius: $borderRadius;
  width: 80vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4 {
  color: $mainColor;
  font-size: 1.4em;
  // background-color: white;
  width: 70vw;
  height: 1vh;
  text-align: center;
}

#add-record-form {
  height: 25vh;
  width: 70vw;
  // border: 10px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#add-website {
  height: 20%;
  width: 100%;
  font-size: $fontSize;
  border-radius: $borderRadius;
  text-align: center;
  border: none;
  box-shadow: 1px 10px 0px 0px $shadowColor;
}
#add-username {
  height: 20%;
  width: 100%;
  font-size: $fontSize;
  border-radius: $borderRadius;
  text-align: center;
  border: none;
  box-shadow: 1px 10px 0px 0px $shadowColor;
}
#add-password {
  height: 20%;
  width: 100%;
  font-size: $fontSize;
  border-radius: $borderRadius;
  text-align: center;
  border: none;
  box-shadow: 1px 10px 0px 0px $shadowColor;
}

.modal-footer {
  height: 10vh;
  width: 70vw;
  // border: 10px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.primary-button {
  height: 60%;
  width: 40%;
  font-size: $fontSize;
  border-radius: $borderRadius;
  border: none;
  background-color: #ffffff;
  box-shadow: 1px 10px 0px 0px $shadowColor;
  color: $mainColor;
}

.secondary-button {
  height: 60%;
  width: 40%;
  font-size: $fontSize;
  border-radius: $borderRadius;
  border: none;
  background-color: white;
  box-shadow: 1px 10px 0px 0px $shadowColor;
  color: $mainColor;
}

